*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color:aqua;
}
h2{
    color: crimson;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
   /* width: calc(50vw/2);*/
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    letter-spacing: 3px;
    border: 5px solid rebeccapurple;
    padding:
}